$content-width: 1200px;
$mobile-block-height: 150px;
$tablet-width: 800px;
$mobile-width: 450px;

$color-correct-msg: rgba(10, 197, 103, 0.596);
$color-error-msg: rgba(248, 31, 49, 0.596);
$color-black: rgb(0, 0, 0);
$color-white: rgb(245, 243, 243);
$color-grey: rgb(117, 117, 117);
$color-light-grey: rgb(226, 226, 226);
$color-login-shadow: #000a19;
$color-orange: rgb(240, 112, 21);
$color-blue: rgb(65, 65, 247);
$color-green: rgb(18, 104, 23);
$color-yellow: rgb(250, 207, 15);
$color-red: rgb(252, 16, 16);
$color-violet: rgb(193, 11, 248);
$color-light-blue: #4d99f7;
$color-scrollbar-shadow: rgba(86, 164, 253, 0.3);
$color-scrollbar-shadow-tumb: rgba(62, 48, 255, 0.5);
$color-dark-blue: #09265b;
$color-title-shadow: #240000;
