.content-footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px 40px 20px;

    &__copyright {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1px;
    }
}
